
.myface{
    position: absolute;
    top: 8px;
    transform: translateX(2px);
    left: 41px;

}


.myname{
    position: absolute;
    top: 70px;
    transform: translateX(2px);
    left: 206px;

}



.nickname{
    position: absolute;
    top: 70px;
    transform: translateX(9px);
    left: 360px;
 

}


.family{
    position: absolute;
    top: 183px;
    transform: translateX(9px);
    left: 375px;
    z-index: 2;
 

}



.locations{
    position: absolute;
    top: 260px;
    left: 235px;
    z-index: 4;
   

}

.hobbies{
    position: absolute;
    top: 140px;
    left: 207px;
    z-index: 2;

}



.birth{
    position: absolute;
    top: 138px; 
    left: 299px;


}



.dad {
    position: absolute;
    top: 257px;
    left: 233px;

}


.never {
    position: absolute;
    top: 260px;
    left: 42px;
    z-index: 3;

}

.olympics {
    position: absolute;
    top: 260px;
    left: 39px;
    

}


.home {
    position: absolute;
    top: 328px;
    left: 110px;

}

.pets {
    position: absolute;
    top: 321px;
    left: 238px;


}

.teacher {
    position: absolute;
    bottom: 338px;
    left: 43px;

}

.vacation {
    position: absolute;
    bottom: 411px;
    left: 40px;
    z-index: 3;

}

.roadtrips {
    position: absolute;
    bottom: 338px;
    left: 141px;
    z-index: 3

}


.circle {
    position: absolute;
    bottom: 339px;
    left: 235px;
    z-index: 3

}













